body {
	margin: 0;
	padding: 10px;
	background-size: cover;
}

.ninja {
    padding-left: 100px;
    size: 15rem;
}


#footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%;
	/* Height of the footer*/
	height: 40px;
	color: #556FAF;
	font-size: 1.3rem;
	font-weight: 600;
	text-align: center;
	background-color: white;
}

table {
	border-collapse: collapse;
	width: 100%;
  }
  
tr, td {
	text-align: left;
	font-weight: 700;
  }

  .table_left{
	border-right: 20px solid #fff;
	border-left: 4px solid #fff;
	border-bottom: 10px solid #fff;
	
  }
  
  .table_right{
	border-left: 20px solid #fff;
	border-right: 4px solid #fff;
	border-bottom: 10px solid #fff;
  }
 
